@charset "UTF-8";
@import './variables';
@import './functions';

@mixin responsive($type) {
  @if $type == desktop {
    @media screen and (min-width: $md) {
      @content
    }
  } @else if $type == tablet {
    @media screen and (max-width: $sm) {
      @content
    }
  } @else {
    @media screen and (max-width: $xs) {
      @content
    }
  }
}

@mixin render-col($type) {

  .col#{$type} {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  @for $i from 1 through $grid-cols-num {
    // col-xs-1
    // col-sm-1
    // desktop : col-1

    .col#{$type}-#{$i} {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: get-size($i);
      max-width: get-size($i);
    }
  }
}

@mixin overlay-background {
  background-color: rgba(10, 10, 10, 0.3);
}

@mixin box-shadow-1 {
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

@mixin box-shadow-2 {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

@mixin box-shadow-3 {
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
