@charset "UTF-8";

// break point
$xs: 640px; // mobile
$sm: 960px; // tablet
$md: 1280px; // desktop

// grid col num
$grid-cols-num: 12;

// color
$primary-color: #3e7afa;
$secondary-color: #fa3e6d;
$background-color: #2b2c3b;
$dark-color: #4d4e66;
$grey-color: #9c9db0;
$white-color: #fafafa;
$border-color: #c9c9c9;
