@charset "UTF-8";

// break point
$xs: 640px; // mobile
$md: 960px; // desktop
$lg: 1140px; // large

// grid col num
$grid-cols-num: 12;

// color
$primary-color: #3e7afa;
$secondary-color: #fa3e6d;
$white-color: #fafafa;
$border-color: #c9c9c9;
